<!DOCTYPE html>
<html>
<head>
	<title>School Landing Page</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

	<link rel="stylesheet" href="test.css">

	<link rel="stylesheet" href="css/animations.css">
</head>
<body>

</body>
</html>




<div class="container">
	<div class="row slideLeft fadeIn">
		
		<div class="student-ranking col-md-3">
			<h2>Student Highlight</h2>
		</div>
		<div class="school-stats-section col-md-6">
			<h1 id="miles">15,465 </h1>
			<h1> Miles Ran</h1>

		</div>
		<div class="school-info-sidebar col-md-3">
			<div class="school-details row">
				<h1>JFK ELEMENTARY</h2>
			</div>			
			<div class="school-details row">
				<h2>Rank</h2>
				<h2>3</h2>
			</div>			
			<div class="school-details row">
				<h2>Students</h2>
				<h2>500</h2>
			</div>
			
		</div>
	</div> <!-- end of row -->
	<div class="row">
		<div class="rewards">
			
		</div>
		
	</div>

	<div class="row">
		
		<div class="col-md-12 col-md-offset-5">

			<div class="user-actions ">
				<div class="action-icons">
					<i class="fa fa-plus-square-o"></i>
					|
					<i class="fa fa-user"></i>
					|
					<i class="fa fa-clock-o"></i>
				</div>
			</div>
		</div>
	</div>	
</div>

