<link href='http://fonts.googleapis.com/css?family=Henny+Penny' rel='stylesheet' type='text/css'>
<div class='row'>
  <div class='col-md-2'>
  </div>
  <div class='col-md-8'>
<table class='leaderTable'>
    <tr>
      <th COLSPAN="3" class='leaderHeader'> Top SCHOOLS
      </th>
    </tr>
    <tr>   <th class='rank'>Rank</th>      <th>School</th>      <th class='mile'>Miles</th>      </tr>

    <tr>   <td class='rank'>1</td>      <td>Morningside Elementary</td>      <td class='miles'>Data 2</td>      </tr>
    <tr>   <td class='rank'>2</td>      <td>Bobcat Elementary</td>           <td class='miles'>Data 2</td>      </tr>
    <tr>   <td class='rank'>3</td>      <td>Peters Colony </td>              <td class='miles'>Data 2</td>      </tr>
    <tr>   <td class='rank'>4</td>      <td>Cypress Elementary</td>          <td class='miles'>Data 2</td>      </tr>
    <tr>   <td class='rank'>5</td>      <td>Griffin Middle School</td>       <td class='miles'>Data 2</td>      </tr>
    <tr>   <td class='rank'>6</td>      <td>Unicorn Elementary</td>          <td class='miles'>Data 2</td>      </tr>
    <tr>   <td class='rank'>7</td>      <td>Spring High </td>                <td class='miles'>Data 2</td>      </tr>
    <tr>   <td class='rank'>8</td>      <td>Data 1</td>      <td class='miles'>Data 2</td>      </tr>
    <tr>   <td class='rank'>9</td>      <td>Data 1</td>      <td class='miles'>Data 2</td>      </tr>
    <tr>   <td class='rank'>10</td>      <td>Data 1</td>      <td class='miles'>Data 2</td>      </tr>
    <tr>   <td class='rank'>11</td>      <td>Data 1</td>      <td class='miles'>Data 2</td>      </tr>
    <th colspan='3' class='tableFooter'> ya do this crap</th>
</table>
  </div>

  <div class='col-md-2'>
  </div>
</div>
